<?xml version="1.0" encoding="UTF-8"?>

<!-- The name of the product -->
<?define Name = "Bursty Log Monitor" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Bursty" ?>
<!-- The version number of this setup package-->
<?define Version = "0.1" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. WPC02 -->
<?define UpgradeCode = "{795153DD-7D05-4AF6-BA61-40C33B2DD667}" ?>

<!--The bootstrapper chains together a set of related installer MSIs (in this case via project references) and EXE payloads-->



<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Bundle Name="Bursty.Installer.BootStrapper" Version="1.0.0.0" Manufacturer="" UpgradeCode="0e9b0649-f28f-420a-ac53-0eb7e7d01e2e">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
    <!--In order to place the installation location outside of Bootstraper, include this code - SuppressOptionsUI="yes"-->
    
    </BootstrapperApplicationRef>
    <Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
		</Chain>
	</Bundle>
</Wix>
